// mixins, variables, etc.

$gray-medium-light: #eaeaea;
$gray-border: #bbb;
$red: #f00;

@mixin box-sizing {
  box-sizing: border-box;
}

// universal

html {
  overflow-y: scroll;
}

body {
  padding-bottom: 20px;
  padding-top: 20px;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
}

// typography

h1,
h2 {
  text-align: center;
}

// footer

footer {
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  margin-top: 45px;
  padding-top: 5px;

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }
}

// forms

input,
textarea,
select,
.uneditable-input {
  @include box-sizing;
  border: 1px solid $gray-border;
  margin-bottom: 15px;
  width: 100%;
}

input {
  height: auto;
}

.error-explanation {
  color: $red;

  ul {
    color: $red;
    margin: 0 0 30px;
  }
}

.checkbox {
  margin-bottom: 10px;
  margin-top: -10px;

  input {
    float: left;
    width: auto;
  }
}

// users index

.users {
  list-style: none;
  margin: 0;

  li {
    border-bottom: 1px solid $gray-lighter;
    overflow: auto;
    padding: 10px 0;
  }
}

// sidebar

aside {
  section {
    margin-top: 20px;
    padding: 10px 0;

    .user-info {
      margin-top: 20px;
    }

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }

    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
      text-align: left;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar-edit {
  margin-top: 15px;
}

// miscellaneous

.debug-dump {
  @include box-sizing;
  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
}
